<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>STL Southside Vitals</title>
    <link rel="stylesheet" href="assets/bootstrap-3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/leaflet-0.7.2/leaflet.css">
    <link rel="stylesheet" href="assets/leaflet-sidebar/L.Control.Sidebar.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>